.dialog {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  
  /* dialog header
  ---------------- */
  .dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #F2F2F8;
    color: #A4A8BE;
  }
  
  .dialog__title {
    margin: 0;
    font-size: 18px;
    color: #131523;
  }

  .close_dialog{
    cursor: pointer;
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: calc(100% - 60px);
  }

  .text_label{
    text-align: left;
    font: normal normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #131523;
  }

  .text_label > div{
      margin-top: 14px;
      color: #7E84A3;
      font: normal normal normal 14px/22px Open Sans;
  }

  .checkbox_input{
      margin: 8px 0;
  }

  .textarea_input{
    margin-top: 20px;
    display:inline-flex;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #D5D7E3;
    resize: none;
    padding: 12px;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #131523;
  }

  .dialog_footer{
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      min-height: 70px;
  }

  .invoices_container{
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }

  .invoices_container>p{
    margin-bottom: 15px;
  }

  .invoices_container > div{
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #d5d7e3;
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
  }

  .invoices_container > div > div{
    margin-left: 15px;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }