<div class="nav_bar">
    <div class="wrap_rsw_logo">
      <img width="100%" src="./assets/images/nissan.png">
    </div>

    <div class="nav_content">
      <a class="nav_item"
      routerLink="/layout/perfil" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number"  routerLinkActive="active">1</span>
        </div>
        <div class="item_text">
          Perfil
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </a>

      <a class="nav_item"
      routerLink="/layout/subirFactura" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number" routerLinkActive="active">2</span>
        </div>
        <div class="item_text">
          Subir Factura
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </a>

      <div class="nav_item" routerLink="/layout/notificaciones" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number" routerLinkActive="active">4</span>
        </div>
        <div class="item_text">
          Notificaciones
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </div>

      <div class="nav_item " routerLink="/layout/estatus" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number" routerLinkActive="active">5</span>
        </div>
        <div class="item_text">
          Estatus de Factura
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </div>

      <div class="nav_item"
      routerLink="/layout/usuario" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number" routerLinkActive="active">6</span>
        </div>
        <div class="item_text">
          Usuarios
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </div>

      <div class="nav_item " routerLink="/layout/empresas" routerLinkActive="active">
        <div class="item_icon">
          <span class="circle_number" routerLinkActive="active">7</span>
        </div>
        <div class="item_text">
          Empresas
        </div>
        <div class="item_arrow" routerLinkActive="active">
          <img class="arrow_icon" src="./assets/east_black_24dp.svg" >
        </div>
      </div>

    </div>
  </div>

