
<div class="dialog">
    <div class="dialog__header">
        <h2 class="dialog__title">
            Envio de Pago
        </h2>
        <div   class="close_dialog">
            <span (click)="closeDialog()" class="material-icons-outlined pointer">
                clear
              </span>
        </div>
    </div>
    <div class="card__body" [formGroup]="form_payment">
        <div class="dialog_top">
            <label class="file_container" for="inputFile" *ngIf="file.length == 0">
                <input class="inputFile" type="file" id="inputFile" (change)="uploadArchive($event.target.files[0])"> 
                <span class="inputFile_text">Carga o arrastra el archivo pdf</span>
            </label>
            <div class = "file_upload" *ngIf="file.length > 0">
                <div>
                    <span class="material-icons-outlined" style="color: #72e800;margin-right: 10px;">
                        check_circle
                    </span>
                    <span>
                        {{ name_file }}
                    </span>
                </div>
                <span class="material-icons-outlined " style="cursor: pointer;" (click)= "deleteFile()">
                    clear
                </span>
            </div>
        </div>
        <div class="dialog_footer">
            <button 
            [disabled]= "is_loading"
            class="btn btn--mr-10" (click)="closeDialog()">Cerrar</button>
            <button 
            [class.spinner]= "is_loading"
            [disabled] = "is_loading"
            class="btn btn--primary" >
                 <span *ngIf="is_loading==false" (click)="goSend()">Enviar pago</span> 
            </button>
        </div>
    </div>
</div>
