.need_help{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding-top: 30px;
  }

.trouble_txt{
    color:#7E84A3;
    font-size:14px;
    margin-right:5px
}

.get_help_txt{
    color:#0090F3;
    font-size:14px;
    cursor:pointer
}