<div class="row row--mb-10">
    <form class="form">
        <div class="col col--flex col--flex-align-center">
            <div class="wrap-search">
                <input
                    #search_input
                    class="input-search"
                    placeholder="Search by any order parameter..."
                    type="text" />
            </div>
            <div class="wrap-filters">
                <!-- creation date -->
                <ng-multiselect-dropdown
                        class="filter"
                        [placeholder]="'Status'"
                        [settings]="dropdownSettings"
                        [data]="status"
                        (onSelect)="getContrarecibosById($event)"
                        (onDeSelect) = "clearStatusInput()"
                        >
                </ng-multiselect-dropdown>
                <!-- status -->
                <input class="filter" 
                #input_date
                type="text" placeholder="Date" 
                onfocus="(this.type='date')" 
                (change)="getContrareciboByDate($event.target.value)"
                >
                <span class="material-icons-outlined date-icon"
                    *ngIf="is_show_clear_icon"
                    (click)="clearDateFilter()"
                    >
                        clear
                </span>
            </div>
        </div>
    </form>
</div>

<div class="page__body">
    <table class="table">
        <thead class="table__thead">
            <tr class="table__tr">
                <th class="table__th" *ngFor="let title of head_title">
                    <span class="sort-text">
                        {{ title }}
                        <span class="material-icons-outlined">
                            arrow_drop_down
                        </span>
                    </span>
                </th>
            </tr>
        </thead>
        <div class="table__tbody row--flex row--flex-align-center row--flex-justify-center" *ngIf="is_loading">
            <app-spinner
            width="50"
            height="50"
            color="#0090f3">
        </app-spinner>
        </div>
        <tbody class="table__tbody" *ngIf="is_loading==false">
            <tr class="table__tr table__tr--tbody" (click)="openDialog( contrarecibo )" *ngFor = "let contrarecibo of contrarecibos; let i = index ">
                <td class="table__td">
                <span
                class="text text--bold status">
                    <span>{{ contrarecibo.id_contrarecibo }}</span>
                </span>
                </td>
                <td class="table__td">
                    <span> {{ contrarecibo.promise_date | date: "mediumDate"}}</span>
                </td>
                <td class="table__td">
                    <span
                        class="text text--bold status" 
                        [ngClass]="{
                        'status_orange': contrarecibo.id_status_contrarecibo ==0,
                        'status_green': contrarecibo.id_status_contrarecibo ==1
                    }">
                        <span *ngIf="contrarecibo.id_status_contrarecibo ==0">Pendiente </span>
                        <span *ngIf="contrarecibo.id_status_contrarecibo ==1">Pagada</span>
                    </span>
                </td>
                <td class="table__td">
                    {{ contrarecibo.company_name }}
                </td>
            </tr>
        </tbody>
        <tfoot class="table__tfoot">
            <div class="row row--flex row--flex-space-between">
                <div class="col col--flex col--flex-align-center">
                    <p class="text text--color-gray text--mr-10">
                        ALL
                        <span class="qty-box">
                            {{ total_count }}
                        </span>
                    </p>
                    <select name="" id="" (change)= "changeLimit($event.target.value)">
                        <option value="10" selected>10</option>
                        <option value="20" >20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="">ALL</option>
                    </select>
                </div>
                <div class="col col--flex col--flex-align-center">
                    <div class="col col--flex col--flex-align-center text text--color-gray">
                        <div class="previous" (click)="goPrevious()">
                            <img src="./assets/icons_dashboard/chevron-left.svg" >
                            <span>Previous</span>
                        </div>
                        <input #input_number type="number" min="1" class="actual_page"  [(ngModel)]="page">
                        <span>/</span>
                        <span class="total_pages">{{ total_pages }}</span>
                        <div  class="next" (click)="goNext()"> 
                            <span>Next</span>
                            <img src="./assets/icons_dashboard/chevron-right.svg">
                        </div>
                    </div>
                </div>
            </div>
        </tfoot>
    </table>
</div>

